*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainbar {
    background-color: rgb(220, 82, 224);
    color: black;
    text-align: center;

}
.mainbar ul  {display:block;
    display: inline-flex;
    list-style: none;
}
.mainbar ul li {
    width: 250px;
    margin: 15px;
    padding: 15px;
    font-size: 25px;

}
.mainbar ul li:hover{ background: rgb(224, 224, 230);

}

li .submain{
    display: none;
}


.mainbar ul :hover .submain {
    background-color: darkcyan;
    margin-top: 20px;
    margin-left: -20px;
    text-align: left;
    font-size: 20px;
    display: block;
    position: absolute;
    
}

    